# Django
DJANGO_SECRET_KEY=YOUR_SECRET_KEY
DEBUG=True

# OAuth2
OAUTH2_CLIENT_ID=YOUR_CLIENT_ID
OAUTH2_CLIENT_SECRET=YOUR_CLIENT_SECRET
JWT_ALGORITHM=JWT_ALGORITHM

# Celery / Redis
CELERY_ENABLED=False
CELERY_BROKER_URL=PORT_ADDRESS

# Database
DB_PATH=/app/db/db.sqlite3